alembic
certifi
chardet
Click
Flask
Flask-HTTPAuth
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
httpie
idna
itsdangerous
Jinja2
Mako
MarkupSafe
netifaces
psycopg2-binary
Pygments
python-dateutil
python-dotenv
python-editor
requests
six
SQLAlchemy
urllib3
Werkzeug
WTForms