{% extends "base.html" %} {% block content %}
    <head>
        <title>Intro To Computer Assembly</title>
    </head>

    <body>
        <div>
            <h2>
                Preamble
            </h2>
            <p>
                Computer assembly can seem quite overwhelming at first look due both the apparent complexity and the fragile components
                but this short course will help you understand how simple and easy it really is to build your own computer.
            </p>
        </div>
        <h2>
            Basic Structure
        </h2>
        <img src="" alt="Image of computer that is yet to be built">
        <div>
            <p>
                This course will go through the assembly process of a computer part by part so that each parts purpose and
                correct method of installation can be understood
            </p>
            <p>
                -Case
                    -Motherboard
                        -CPU
                        -RAM
                        -GPU
                        -Other PCI
                    -PSU
                    -Storage Drives
                    -Cooling
                -Peripherals
            </p>
        </div>
        <div>
            <h3>
                Case
            </h3>
            <p>
                The case is the location in which all parts of the computer are stored they come in many different shapes sizes and styles but for 
                simplicity we will look at the more standard sizes; full tower, mid tower and mITX.
            </p>
            <p>
            These sizes are important to know what can and cannot fit within your computer as some components could be too big for some cases or you could leave
            yourself with too much empty space to ensure you do not run into any issues with the size of your case and your components it is always important to 
            check the capacities listed in the case specifications and the sizes for the components you plan to use to ensure you get no bad surprises
            </p>    
        </div>
        <div>
            <h3>
                Motherboard
            </h3>
            <p>
                mobo stuff
            </p>
        </div>
        <div>
            <h3>
                CPU
            </h3>
            <p>
                CPU stuff
            </p>
        </div>
        <div>
            <h3>
                RAM
            </h3>
            <p>
                ram stuff
            </p>
        </div>
        <div>
            <h3>
                GPU
            </h3>
            <p>
                gpu stuff
            </p>
        </div>
        <div>
            <h3>
                Other PCI
            </h3>
            <p>
                pci stuff
            </p>
        </div>
        <div>
            <h3>
                PSU
            </h3>
            <p>
                PSU stuff
            </p>
        </div>
        <div>
            <h3>
                Storage Drives
            </h3>
            <p>
                storage stuff
            </p>
        </div>
        <div>
            <h3>
                Cooling
            </h3>
            <p>
                cooling stuff
            </p>
        </div>
        <div>
            <h3>
                Peripherals
            </h3>
            <p>
                extra stuff
            </p>
        </div>


    </body>
</html>
{% endblock %}