<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <!-- jQuery library -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="./css/main.css" />
        <script defer src="./js/main.js"></script>
        <style></style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-4">
                <a href='{{ url_for("index") }}'>Home</a>
            </div>
            {%if current_user.is_anonymous %}
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-right">
                <a href='{{ url_for("login") }}'>Login</a><br />
                <a href='{{ url_for("register") }}'>Register</a>
            </div>
            <div class="col-sm-4 text-right">
                <a href='{{ url_for("register") }}'
                    >Update {{ current_user.surname }}</a
                ><br />
                <a href='{{ url_for("logout") }}'
                    >Logout {{ current_user.surname }}</a
                >
            </div>
            {%endif %}
        </div>
        <hr />
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <div class="container">
            <h1>PC Wiki</h1>
        </div>
    </body>
</html>
