{% extends "base.html" %} {% block content %}
<body>
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column sticky-top float-end mx-5 my-2">
            <a class="navbar-brand" href="#">Contents</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#intro">Introduction</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <a class="nav-link" href="#item-2">Item 2</a>
              <a class="nav-link" href="#item-3">PSU and Traditional Storage</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
    <div class="container align-content-center my-5">          
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
            <h4 id="intro">Introduction</h4>
            <p>
                Computer assembly can seem quite overwhelming at first look due both the apparent complexity and the fragile components
                but this short course will help you understand how simple and easy it really is to build your own computer.
            </p>    
        <img src="https://cdn.mos.cms.futurecdn.net/MTNYEyWTNTPURkADAP2p7h-970-80.jpg" alt="Image of computer that is yet to be built">
            <p>
                This course will go through the assembly process of a computer part by part so that each parts purpose and
                correct method of installation can be understood
            </p>
            <div>
                You will need
                <li>
                    Screwdriver
                </li>
            </div>

            <h5 id="item-1-1">Item 1-1</h5>
            <p>...</p>
            <h5 id="item-1-2">Item 1-2</h5>
            <p>...</p>
            <h4 id="item-2">Item 2</h4>
            <p>...</p>
            <h4 id="item-3">Item 3</h4>
            <p>...</p>
            <h5 id="item-3-1">Item 3-1</h5>
            <p>...</p>
            <h5 id="item-3-2">Item 3-2</h5>
            <p>...</p>
          </div>
          
        <!-- Insert Nav system for navigation in the page -->
        <div>

        <div>
            <h3>
                Case
            </h3>
            <p>
                The case is the location in which all parts of the computer are stored they come in many different shapes sizes and styles but for 
                simplicity we will look at the more standard sizes; full tower, mid tower and mITX.
            </p>
            <p>
            These sizes are important to know what can and cannot fit within your computer as some components could be too big for some cases or you could leave
            yourself with too much empty space to ensure you do not run into any issues with the size of your case and your components it is always important to 
            check the capacities listed in the case specifications and the sizes for the components you plan to use to ensure you get no bad surprises
            </p>    
        </div>
        <div>
            <h3>
                Motherboard
            </h3>
            <p>
                mobo stuff
            </p>
        </div>
        <div>
            <h3>
                CPU
            </h3>
            <p>
                CPU stuff
            </p>
        </div>
        <div>
            <h3>
                RAM
            </h3>
            <p>
                ram stuff
            </p>
        </div>
        <div>
            <h3>
                GPU
            </h3>
            <p>
                gpu stuff
            </p>
        </div>
        <div>
            <h3>
                Other PCI
            </h3>
            <p>
                pci stuff
            </p>
        </div>
        <div>
            <h3>
                PSU
            </h3>
            <p>
                PSU stuff
            </p>
        </div>
        <div>
            <h3>
                Storage Drives
            </h3>
            <p>
                storage stuff
            </p>
        </div>
        <div>
            <h3>
                Cooling
            </h3>
            <p>
                cooling stuff
            </p>
        </div>
        <div>
            <h3>
                Peripherals
            </h3>
            <p>
                extra stuff
            </p>
        </div>
        <!-- Insert main content block for providing content to the page -->
        <div>{% block learning%} {% endblock %}</div>

        <!-- Nav system goes here -->
        <a href="{{ url_for('quiz')}}" class="btn-primary btn-lg">Quiz</a>
    </div>  
</body>
{% endblock %}