{% extends "base.html" %} {% block content %}

<img src="/static/battlestation.jpg" alt="Battlestation" id="battlestation" />
<!-- source: https://www.reddit.com/r/battlestations/comments/bx4csz/i_call_itserenity/ -->
<br />
<div class="intro-para">
    <h1 class="index-title">Know your PC</h1>
    <p class="intro" id="intro-1">
        Hi, {{current_user.id}}.
        <br />
        The hype around buying the latest PC parts is getting higher and higher
        especially during this troubled times. GPUs, CPUs and PSUs are all low
        in stocks, you are considered to be a very lucky person. Now, you must
        be wondering what is a CPU, a GPU, or a PSU. Today is your lucky day as
        you have come to the right place to know about the World of PC. This
        course will teach you about the components that make up the computers.
        We know building a PC is a daunting task as any mistakes might cost you
        a fortune but we can guarantee that by the end of the course, you will
        be able to build your dream PC without destroying any parts. There is a
        saying that goes,
    </p>

    <blockquote
        class="quote"
        cite="https://www.goodreads.com/quotes/17976-if-you-know-the-enemy-and-know-yourself-you-need"
    >
        "If you know the enemy and know yourself, you need not fear the result
        of a hundred battles. If you know yourself but not the enemy, for every
        victory gained you will also suffer a defeat. If you know neither the
        enemy nor yourself, you will succumb in every battle." <br />
        -Sun Tzu, The Art of War
    </blockquote>
    <br />
    <p class="intro" id="intro-2">
        Moreover, it will be easier to upgrade your PC in the future when newer
        components are released. For example, some prebuilt PC have very limited
        upgrades as they have their own proprietary components or simply flat
        out void your PC warranty if you ever open it. Futhermore, you can
        choose components that best fit your budget while maximing performance
        for its price. The best thing about building your very own PC is that
        you are qualified to join the PC Master Race and also build your very
        own battlestation.
    </p>
    <footer>
        <p class="cite">
            image source:
            <cite
                >https://www.reddit.com/r/battlestations/comments/bx4csz/i_call_itserenity/</cite
            >
        </p>
    </footer>
</div>
{% endblock %}
