{% extends "base.html" %} {% block content %}
<h1>Quiz</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="quiz">
        <p id="question_1">
            {{form.question_1.label}}
            <br />
            {{form.question_1}}
        </p>

        <p id="question_2">
            {{form.question_2.label}}
            <br />
            {{form.question_2}}
        </p>

        <p id="question_3">
            {{form.question_3.label}}
            <br />
            {{form.question_3}}
        </p>

        <p id="question_4">
            {{form.question_4.label}}
            <br />
            {{form.question_4}}
        </p>

        <p id="question_5">
            {{form.question_5.label}}
            <br />
            {{form.question_5}}
        </p>

        <p id="question_6">
            {{form.question_5.label}}
            <br />
            {{form.question_5}}
        </p>

        <p id="question_7">
            {{form.question_5.label}}
            <br />
            {{form.question_5}}
        </p>
    </div>
</form>
{% endblock %}
