{% extends "base.html" %} {% block content %}

<style>
    .quiz,
    #quiz-title {
        max-width: 1080px;
        margin: auto;
    }

    .submit-button {
        float: right;
        margin-top: 100px;
    }
</style>

<div class="container">
    {% if current_user.is_anonymous %}
    <h2>Please <a href="{{ url_for('login') }}">Sign in</a> to access Quiz</h2>
    {%else%}
    <h1 class="title" id="quiz-title">Quiz</h1>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="quiz">
            <div id="question_1">
                <br />
                <strong style="text-decoration: underline">Question 1.</strong>
                <br />
                {{form.question_1.label}}
                <br />
                <div id="choices_1">
                    {% for subfield in form.question_1 %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    <br />
                    {% endfor %}
                </div>
            </div>
            <br />
            <div id="question_2">
                <strong style="text-decoration: underline">Question 2.</strong>
                <br />
                {{form.question_2.label}}
                <br />
                <div id="choices_2">
                    {% for subfield in form.question_2 %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    <br />
                    {% endfor %}
                </div>
            </div>
            <br />
            <div id="question_3">
                <strong style="text-decoration: underline">Question 3.</strong>
                <br />
                {{form.question_3.label}}
                <br />
                <div id="choices_1">
                    {% for subfield in form.question_3 %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    <br />
                    {% endfor %}
                </div>
            </div>
            <br />
            <div id="question_4">
                <strong style="text-decoration: underline">Question 4.</strong>
                <br />
                {{form.question_4.label}}
                <br />
                <div id="choices_1">
                    {% for subfield in form.question_4 %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    <br />
                    {% endfor %}
                </div>
            </div>
            <br />
            <div id="question_5">
                <strong style="text-decoration: underline">Question 5.</strong>
                <br />
                {{form.question_5.label}}
                <br />
                <div id="choices_1">
                    {% for subfield in form.question_5 %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    <br />
                    {% endfor %}
                </div>
            </div>
            <br />
            <div id="question_6">
                <strong style="text-decoration: underline">Question 6.</strong>
                <br />
                {{form.question_6.label}}
                <br />
                <div id="choices_1">
                    {% for subfield in form.question_6 %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    <br />
                    {% endfor %}
                </div>
            </div>
            <br />
            <div id="question_7">
                <strong style="text-decoration: underline">Question 7.</strong>
                <br />
                {{form.question_7.label}}
                <br />
                {{form.question_7}}
            </div>
            <br />
        </div>
        <div class="submit-button">
            <button
                name="Submit Answers"
                class="btn btn-lg btn-primary"
                type="submit"
                id="quiz-submission"
            >
                Submit
            </button>
        </div>
    </form>
    {%endif%}
</div>
{% endblock %}
