{% extends "base.html" %} {% block content %}
<div class="container">
    {% for Rev in Res %}
    <div class="accordion accordion-flush" id="testAccordion{{Rev.attempt_id}}">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{Rev.attempt_id}}">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne{{Rev.attempt_id}}"
                    aria-expanded="true"
                    aria-controls="collapseOne{{Rev.attempt_id}}"
                >
                    <span class="col-10">
                        Quiz Completed:
                        <span class="UTCTime">{{Rev.date}} UTC</span>
                    </span>
                    <span>Score: {{Rev.correct}}/7</span>
                </button>
            </h2>
            <div
                id="collapseOne{{Rev.attempt_id}}"
                class="accordion-collapse collapse"
                aria-labelledby="heading{{Rev.attempt_id}}"
                data-bs-parent="#testAccordion"
            >
                <div class="accordion-body">
                    <ul class="list-group">
                        <li
                            class="list-group-item {% if Rev.correct_1 %}list-group-item-success {%else%} list-group-item-danger {%endif%}"
                        >
                            Q1 {% if Rev.correct_1 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_1}}</span
                            >
                            {% endif %}
                        </li>
                        <li
                            class="list-group-item {% if Rev.correct_2 %}list-group-item-success {%else%} list-group-item-danger{%endif%}"
                        >
                            Q2 {% if Rev.correct_2 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_2}}</span
                            >
                            {% endif %}
                        </li>
                        <li
                            class="list-group-item {% if Rev.correct_3 %} list-group-item-success {%else%} list-group-item-danger {%endif%}"
                        >
                            Q3 {% if Rev.correct_3 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_3}}</span
                            >
                            {% endif %}
                        </li>
                        <li
                            class="list-group-item {%if Rev.correct_4 %} list-group-item-success {%else%} list-group-item-danger {%endif%}"
                        >
                            Q4 {% if Rev.correct_4 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_4}}</span
                            >
                            {% endif %}
                        </li>
                        <li
                            class="list-group-item {% if Rev.correct_5 %} list-group-item-success {%else%} list-group-item-danger {%endif%}"
                        >
                            Q5 {% if Rev.correct_5 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_5}}</span
                            >
                            {% endif %}
                        </li>
                        <li
                            class="list-group-item {% if Rev.correct_6 %}list-group-item-success {%else%} list-group-item-danger {%endif%}"
                        >
                            Q6 {% if Rev.correct_6 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_6}}</span
                            >
                            {% endif %}
                        </li>
                        <li
                            class="list-group-item {% if Rev.correct_7 %} list-group-item-success {%else%} list-group-item-danger {%endif%}"
                        >
                            Q7 {% if Rev.correct_7 %}Correct {% else%}Incorrect
                            <span class="text-end"
                                >Answer Given {{Rev.answer_7}}</span
                            >
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% else %} {% if current_user.is_anonymous %}
    <h2>
        Please <a href="{{ url_for('login') }}">Sign in</a> to access assesment
        data
    </h2>
    {%else%}
    <h2>No Assesments completed</h2>
    {%endif%} {% endfor %}
</div>

{% endblock %}
