{% extends "base.html" %} {% block content %} {% if current_user.isAdmin %}

<div class="display">
    <div class="visitors">
        <div class="total">
            <div class="stat-label">Total Visitors</div>
            <div class="numbers">{{total_visitors}}</div>
        </div>
        <div class="today">
            <div class="stat-label">Today's Visitors</div>
            <div class="numbers">{{today_visitors}}</div>
        </div>
    </div>
    <br />
    <div class="attempts">
        <div class="total">
            <div class="stat-label">Total Attempts</div>
            <div class="numbers">{{total_attempts}}</div>
        </div>
        <div class="today">
            <div class="stat-label">Today's Attempts</div>
            <div class="numbers">{{today_attempts}}</div>
        </div>
    </div>
</div>
{% else %} {% endif %} {% endblock %}
